#cluster-map {
    width: 100%;
    height: 500px;
}

#map {
    width: 100%;
    height: 300px;
}

@media only screen and (max-width: 768px) {
    .responsive-camp-parent {
        display: flex;
        flex-direction: column;
    }

    .responsive-camp-child {
        width: 100%;
    }
}